
 /* We are using the 'Roboto' font from Google. This has already been added to your HTML header */

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 * - When using Flexbox, remember the items you want to move around need to be inside a parent container set to 'display: flex'
 */

 /*Estilos del header*/
header {
    display:flex;
    margin: 7px 75px;
    justify-content: space-between;
}
 
header img {
    width: 30px;
}

.navegacion ul li {
    display: inline;
}

.navegacion a {
    text-decoration: none;
    margin: 5px 10px;
    color: #a09e9e;
}

.navegacion li a:hover, #karma:hover {
    color: #ff6347;
}

#karma {
    color: #444242;
}

/*Estilo de la seccion introduccion*/
.introduccion {
    background-image: url("../img/first-background.jpg");
    background-size: cover;
    color: white;
    padding:275px 200px;
    text-align: center;
    margin: 5px 25px;
}

.introduccion p:first-of-type {
    font-size: 3.2em;
    font-weight: lighter;
    margin:5px;
}

.introduccion p:nth-of-type(2) {
    font-size: 1.7em;
    font-weight: lighter;
}

.introduccion button {
    background: #ff6347;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    padding: 12px 25px;
}

.introduccion button:hover {
    color: #444242;
}

/*Estilo de la clase iconos*/

.iconos > p {
    text-align: center;
    font-size: 2.5em;
    font-weight: lighter;
    margin-top: 120px;
    color: #444242
}

.icons-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 1.5em;
    font-weight: lighter;
    margin: 30px 280px;
}

.icons-container img {
  width: 130px;
}

/*footer*/

footer {
    font-size: smaller;
    border-top: 1px solid #eeeded;
    text-align: center;
    margin: 5px 280px;
}

footer img {
    width: 20px;
}

.social-container {
    display: flex;
    justify-content: center;
}

footer a{
    margin: 5px 20px;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 180px;
}



